[phishtank]
feed = 'http://data.phishtank.com/data/XXXX/online-valid.json.gz'
impact = 'phishing url'
source = 'phishtank.com'
fields = 'url,target,phish_detail_url,submission_time'
fields_map = 'address,description,alternativeid,detecttime'
first_run = true
